* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gmail-blue: #1a73e8;
  --gmail-font: "Open Sans", "Roboto", Arial, sans-serif;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*NAVBAR*/

nav {
  padding: 1.6rem 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav-logo img {
  width: 30px;
}

.nav-logo span {
  font-family: sans-serif;
  font-size: 22px;
  color: #5f6368;
  font-weight: 300;
}

.nav-items ul li {
  margin-left: 1rem;
}

.nav-items ul li a {
  border: 0.5px solid rgba(0, 0, 0, 0.07);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 24px;
  transition: 0.3s all;
}

.nav-items ul li:nth-child(1) a:hover,
.section-first ul li:nth-child(2) a:hover {
  background-color: rgba(66, 133, 244, 0.05);
}

.nav-items ul li:nth-child(2) a:hover {
  background-color: rgba(151, 151, 151, 0.09);
  border-color: rgba(58, 129, 243, 0.4);
}

.nav-items ul li:nth-child(3) a:hover,
.section-first ul li:nth-child(1) a:hover {
  background-color: #174ea6;
}

.button-google {
  padding: 1.5rem 2.7rem;
  border-radius: 5px;
}

.clr-blue {
  color: var(--gmail-blue);
}

.bg-blue {
  background-color: var(--gmail-blue);
}

/*FİRST SECTİON*/

.section {
  padding: 6rem 0;
}

.section-first .col-xl-7 img {
  width: 100%;
}

.section-first .col-xl-5 {
  padding: 2rem;
  margin-bottom: 5rem;
}

.section-first h1 {
  font-size: 34px;
  line-height: 36px;
  color: #202124;
  font-family: "Google Sans", "Roboto", Arial, sans-serif;
  font-weight: 500;
}

.section-first p {
  color: #5f6368;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 28px;
  font-weight: 300;
  margin-bottom: 4rem;
}

.section-first a {
  transition: 0.3s all;
  margin-right: 1rem;
}

/*SECTION2*/

.section-second-hbig {
  color: #202124;
  font-size: 40px;
  width: 100%;
  margin-bottom: 100px;
}

.progressArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

#progress1,
#progress1-t {
  background-color: var(--gmail-blue);
}

.progress {
  width: 5px;
  margin-right: 40px;
  height: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0.16);
  border-radius: 0;
}

.progresInner {
  content: "\A";
  position: absolute;
  background: var(--gmail-blue);
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  transition: 1s all;
  border-radius: 0;
}

.liHeader {
  font-size: 22px;
  line-height: 28px;
  font-family: sans-serif;
  color: #5f6368;
  transition: 0.5s all;
}

.liText {
  color: #5f6368;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.section-second-li {
  margin-top: 3rem;
  cursor: pointer;
}

.liImages ul li {
  display: none;
}

.liImages ul li img {
  width: 100%;
}

.active {
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
}

.active-li {
  color: var(--gmail-blue);
}

/* SECTION THİRD*/

#section-third {
  background-color: #f8f9fa;
}

.st-ctr {
  padding: 6rem 1rem;
}

.st-item {
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  margin: 2rem;
}

.st-item svg {
  margin-bottom: 20px;
}

.st-item-header {
  font-size: 23px;
  font-weight: 500;
  margin-bottom: 20px;
}
.st-item-text {
  font-family: var(--gmail-font);
  font-size: 18.5px;
  font-weight: 300;
  color: #5f6368;
}

/*SECTION FOUR*/

.sf-img {
  margin-bottom: 30px;
}

.sf-header {
  font-size: 28px;
  line-height: 32px;
}

.sf-subtitle {
  margin-top: 16px;
  font-size: 18px;
  color: #5f6368;
  font-weight: 300;
}

.sf-text {
  margin-top: 30px;
  color: #5f6368;
  font-size: 13px;
  font-weight: 300;
  line-height: 25px;
  margin-bottom: 30px;
}

.sf-button {
  border: 0.5px solid rgba(0, 0, 0, 0.07);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
  line-height: 24px;
  transition: 0.3s all;
  background-color: #fff;
  color: var(--gmail-blue);
}

.sf-button:hover {
  background-color: rgba(66, 133, 244, 0.05);
}

@media (min-width: 576px) {
  .st-item {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    margin: 2rem;
  }

  .section-first .col-xl-7 img,
  .thirded,
  .ss-ctr,
  .section-second-hbig,
  .st-ctr {
    width: 500px;
  }
}

@media (min-width: 768px) {
  .st-ctr {
    padding: 9rem 1rem;
  }

  .sf-header {
    font-size: 42px;
    line-height: 52px;
  }

  .sf-subtitle {
    width: 630px;
    margin-top: 16px;
    font-size: 28px;
  }

  .sf-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    width: 600px;
    margin-bottom: 30px;
  }

  .sf-button {
    border: 0.5px solid rgba(0, 0, 0, 0.07);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.1px;
    line-height: 24px;
    transition: 0.3s all;
    background-color: #fff;
    color: var(--gmail-blue);
  }

  .st-ctr {
    width: auto;
  }

  #sf-ctr {
    width: 700px;
  }
  .st-item {
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: column;
    margin: 2rem;
  }
}

@media (min-width: 992px) {
  #sf-ctr {
    width: 900px;
  }

  .section-first p {
    font-size: 18px;
  }

  .section-first h1 {
    font-size: 64px;
    line-height: 70px;
  }

  nav {
    padding: 1.6rem 7.5rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
}

@media (min-width: 1200px) {
  .section-first .col-xl-5,
  .pleft {
    padding-left: 13rem;
    padding-right: 3rem;
  }

  .thirded,
  .ss-ctr {
    width: auto;
  }

  .section-first .col-xl-7 img {
    width: 90%;
  }
}
